<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="fd.css">
  <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/1108244364989313107/1118531081096941658/maxresdefault.jpg" />
  <link rel="stylesheet" href="emoji.css">
  <link rel="stylesheet" href="h1.css">
  <title>or19 | ติดต่อ</title>
  <style>
    html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Kanit", sans-serif;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #04bff8;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background: #a19e9e;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #181818;
      color: #fff;
    }
  }
  </style>
</head>

<body>
  <header>
    <div class="home">
      <nav class="home-il">
        <ui class="home-list">
          <a class="home-a1" href="/"><span class="home-emoji-1">🏡</span>หน้าแรก</a>
          <a class="home-a2" href="/profile"><span class="home-emoji-2">🎫</span>โปรไฟล์</a>
          <a class="home-a3" href="/g"><span class="home-emoji-3">💬</span>ติดต่อเรา</a>
          <a class="home-a3" href="/h"><span class="home-emoji-3">👩‍💻</span>ผู้จัดทำเว็บ</a>
          <a class="home-a3" href="/topup"><span class="home-emoji-3">💸</span>โดเนท</a>
        </ui>
      </nav>
    </div>
  </header>

  <h1 class="kung">ติดต่อเรา</h1>
  <div class="kung-1">
    <a href="#" target="_blank" class="kung-ui-1">
      <div class="kung-li-1">
        <img src="/to/OIP.jpg" alt="Emoji Image" class="kung-emoji-1">
        <h1 class="kung-text-1">รอแก้ระบบ</h1>
      </div>
    </a>
    <a href="mailto:cagkungkmg@gmail.com" target="_blank" class="kung-ui-2">
      <div class="kung-li-2">
        <img src="/to/email.jpg" alt="Emoji Image" class="kung-emoji-2">
        <h1 class="kung-text-2">cagkungkmg@gmail.com</h1>
      </div>
    </a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="footer">
    <div class="container">
      <p>นี่จะเป็นเว็บของ| © | CHERBELL 2024 - 2025 </p>
      <div class="footer-links">
        <a href="/term-of-service">ข้อกําหนด</a>
        <a href="/privacy-policy">นโยบาย</a>
      </div>
    </div>
  </footer>
</body>

</html>