<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/1108244364989313107/1118531081096941658/maxresdefault.jpg" />
  <link rel="stylesheet" href="style.css">
  <title>or19 | ล็อกอิน</title>
</head>
<body>
  <h1>Login</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
  </form>
  <p>สมัคร์สมาชิก</p>
  <a href="/register">register</a>
  <p>หรือล็อกอินผ่าน Discord</p>
  <a href="/login/discord">Login with Discord</a>
  <a href="/auth/google">Login with google</a>
</body>
</html>
