<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>or19 | р╣Вр╕Фр╣Ар╕Щр╕Ч</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fd.css">
    <link rel="stylesheet" href="h1.css">
</head>
<body>
    <header>
        <div class="home">
          <nav class="home-il">
            <ui class="home-list">
              <a class="home-a1" href="/"><span class="home-emoji-1">ЁЯПб</span>р╕лр╕Щр╣Йр╕▓р╣Бр╕гр╕Б</a>
              <a class="home-a2" href="/profile"><span class="home-emoji-2">ЁЯОл</span>р╣Вр╕Ыр╕гр╣Др╕Яр╕ер╣М</a>
              <a class="home-a3" href="/g"><span class="home-emoji-3">ЁЯТм</span>р╕Хр╕┤р╕Фр╕Хр╣Ир╕нр╣Ар╕гр╕▓</a>
              <a class="home-a3" href="/h"><span class="home-emoji-3">ЁЯСйтАНЁЯТ╗</span>р╕Ьр╕╣р╣Йр╕Ир╕▒р╕Фр╕Чр╕│р╣Ар╕зр╣Зр╕Ъ</a>
              <a class="home-a3" href="/topup"><span class="home-emoji-3">ЁЯТ╕</span>р╣Вр╕Фр╣Ар╕Щр╕Ч</a>
            </ui>
          </nav>
        </div>
      </header>
    <form id="topupForm">
        <input type="hidden" id="phoneNumber" name="phoneNumber" value="0840399618">
        <label for="voucherCode">р╣Гр╕кр╣Ир╕ер╕┤р╣Йр╕Зр╕нр╕▒р╕Зр╣Ар╕Ыр╣Ир╕▓р╕Щр╕░:</label><br>
        <input type="text" id="voucherCode" name="voucherCode"><br><br>
        <button type="button" onclick="topup()">р╕Бр╕Фр╣Ар╕Ыр╕вр╣М</button>
    </form>

    <script>
        async function getWallet(code) {
            const phoneNumber = "0840399618";
            const tw = await twApi(code, phoneNumber);
            switch (tw.status.code) {
                case "SUCCESS":
                    console.log('р╣Др╕Фр╣Йр╕гр╕▒р╕Ър╣Ар╕Зр╕┤р╕Щр╣Бр╕ер╣Йр╕зр╕Ир╕│р╕Щр╕зр╕Щ ' + tw.data.my_ticket.amount_baht);
                    break;
                case "CANNOT_GET_OWN_VOUCHER":
                    console.log('р╣Др╕бр╣Ир╕кр╕▓р╕бр╕▓р╕гр╕Цр╕гр╕▒р╕Ър╕Лр╕нр╕Зр╕Вр╕нр╕Зр╕Хр╕▒р╕зр╣Ар╕нр╕Зр╣Др╕Фр╣Й');
                    break;
                case "TARGET_USER_NOT_FOUND":
                    console.log('р╣Др╕бр╣Ир╕Юр╕Ър╣Ар╕Ър╕нр╕гр╣Мр╣Вр╕Чр╕гр╕ир╕▒р╕Юр╕Чр╣Мр╕Щр╕╡р╣Йр╣Гр╕Щр╕гр╕░р╕Ър╕Ъ');
                    break;
                case "INTERNAL_ERROR":
                    console.log('р╣Ар╕Бр╕┤р╕Фр╕Вр╣Йр╕нр╕Ьр╕┤р╕Фр╕Юр╕ер╕▓р╕Фр╕ар╕▓р╕вр╣Гр╕Щ');
                    break;
                case "VOUCHER_OUT_OF_STOCK":
                    console.log('р╕Лр╕нр╕Зр╕зр╕нр╣Ар╕ер╕Чр╕лр╕бр╕Фр╣Бр╕ер╣Йр╕з');
                    break;
                case "VOUCHER_NOT_FOUND":
                    console.log('р╣Др╕бр╣Ир╕Юр╕Ър╕Лр╕нр╕Зр╕зр╕нр╣Ар╕ер╕Ч');
                    break;
                case "VOUCHER_EXPIRED":
                    console.log('р╕Лр╕нр╕Зр╕зр╕нр╣Ар╕ер╕Чр╕лр╕бр╕Фр╕нр╕▓р╕вр╕╕');
                    break;
                default:
                    console.log('р╣Ар╕Бр╕┤р╕Фр╕Вр╣Йр╕нр╕Ьр╕┤р╕Фр╕Юр╕ер╕▓р╕Ф');
                    break;
            }
        }

        function topup() {
            const phoneNumber = document.getElementById("phoneNumber").value;
            const voucherCode = document.getElementById("voucherCode").value;

            fetch('/topup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    phoneNumber: phoneNumber,
                    voucherCode: voucherCode
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('invalid voucher code');
                }
                return response.json();
            })
            .then(data => {
                if ("SUCCESS" === data.status.code) {
                    getWallet(data.code);
                } else {
                    throw Error(data.status.code);
                }
            })
            .catch(error => {
                console.error(error.message);
            });
        }
    </script>
</html>
